html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none;
}

.experience, .services, .main-block, .header {
  max-width: 1045px;
  margin: 0 auto;
}

.main-block .main-block__body .main-block__buttons .main-block__button_green, .main-block .main-block__body .main-block__buttons .main-block__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  border-radius: 37px;
  min-height: 48px;
  padding: 5px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7B47;
  color: white;
}

.cards-list {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-list .experience-item .item-service__icon-box, .cards-list .item-service .item-service__icon-box {
  width: 48px;
  height: 48px;
}

body, html {
  color: #252B42;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 14px;
  line-height: 1;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #FAFAFA;
}

.page > * {
  padding: 80px 0;
}

.header {
  padding: 0;
}
.header .logo {
  margin: 23px 0;
  vertical-align: top;
  display: inline-block;
  padding: 13px 96px 13px 0;
  margin-right: 36px;
}
.header .logo .logo__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}
.header .navigation {
  display: inline-block;
  margin: 40px 0;
}
.header .navigation .nav-list {
  display: flex;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.header .navigation .nav-list .nav-list__item_link {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #737373;
}
.header .navigation .nav-list .nav-list__item_link:hover {
  color: #252B42;
}

.main-block .main-block__body {
  width: 508px;
}
.main-block .main-block__body .main-block__title {
  font-size: 57px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.02em;
  margin-bottom: 35px;
}
.main-block .main-block__body .main-block__desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #737373;
  margin-bottom: 35px;
}
.main-block .main-block__body .main-block__buttons {
  display: inline-flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main-block .main-block__body .main-block__buttons .main-block__button_green {
  border: 1px solid #0D5C63;
  background-color: transparent;
  color: #0D5C63;
}

.cards-list .item-service {
  height: 100%;
  max-width: 329px;
  background-color: white;
  padding: 40px 35px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
.cards-list .item-service .item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}
.cards-list .item-service .item-service__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #737373;
}
.cards-list .experience-item {
  height: 100%;
  max-width: 230px;
  background-color: white;
  padding: 40px 30px;
}
.cards-list .experience-item .item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}
.cards-list .experience-item .item-service__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #737373;
}

.services {
  margin-top: -111px;
}
.services .item-service_green {
  background-color: #0D5C63;
}
.services .item-service_green, .services .item-service_green .item-service__desc {
  color: white;
}/*# sourceMappingURL=style.css.map */