$title-fsize: 40px;
$subtitle-fsize: 24px;
$small-subtitle-fsize: 16px;
$desc-fsize: 14px;

$title-fweight: 700;
$medium-fweight: 600;
$desc-fweight: 500;

$bletter: 0.02em;
$sletter: 0.01em;

$fcolor: #252B42;
$onGreenBack-fcolor: #fff;
$secondary-fcolor: #737373;
$btn-color: #FF7B47;
$secondary-color: #0D5C63;

$services-contacts-item-width: 329px;
$experiences-advices-item-width: 230px;

$next-block-margin: 80px;
